@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    font-family: var(--fonte01)
}

header{
    background-color: black;
    color: white;
    text-align: center;
   
   
}

header > h1{
    padding-top: 50px;
    font-family: small-caps;
    font-family: var(--fonte02);
    font-size: 8vw;
    font-weight: normal;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte03);
    font-weight: bold;
    font-size: 1.6em;
    
}

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(50, 50, 50);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.263);
    display: inline-block;
    padding: 8px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 7px;
    font-size: 1.02em;
}